<launch>
  <node name="orb_slam2_mono" pkg="orb_slam2_ros"
      type="orb_slam2_ros_mono" output="screen">

       <remap from="/camera/image_raw" to="/dji_data/image_raw" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="publish_pose" type="bool" value="true" />
       <param name="localize_only" type="bool" value="false" />
       <param name="reset_map" type="bool" value="false" />

       <!-- static parameters -->
       <param name="load_map" type="bool" value="false" />
       <param name="map_file" type="string" value="map.bin" />
       <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />

       <param name="pointcloud_frame_id" type="string" value="world" />
       <param name="camera_frame_id" type="string" value="camera_link" />
       <param name="min_num_kf_in_map" type="int" value="5" />

       <!-- ORB parameters -->
       <param name="/ORBextractor/nFeatures" type="int" value="2000" />
       <param name="/ORBextractor/scaleFactor" type="double" value="1.2" />
       <param name="/ORBextractor/nLevels" type="int" value="8" />
       <param name="/ORBextractor/iniThFAST" type="int" value="20" />
       <param name="/ORBextractor/minThFAST" type="int" value="7" />

       <!-- Camera parameters -->
       <!-- Camera frames per second -->
       <param name="camera_fps" type="int" value="30" />
       <!-- Color order of the images (0: BGR, 1: RGB. It is ignored if images are grayscale) -->
       <param name="camera_rgb_encoding" type="bool" value="true" />

        <!-- Camera calibration parameters -->
        <!--If the node should wait for a camera_info topic to take the camera calibration DJI 47 Parameter -->
       <param name="load_calibration_from_cam" type="bool" value="false" />
       <!-- Camera calibration and distortion parameters (OpenCV) -->

      <!--960x540 dji dataset-->
      <!--<param name="camera_fx" type="double" value="670.598859798134" />-->
      <!--<param name="camera_fy" type="double" value="671.530674182169" />-->
      <!--<param name="camera_cx" type="double" value="481.527318331448" />-->
      <!--<param name="camera_cy" type="double" value="272.191272193949" />-->

      <!--<param name="camera_k1" type="double" value="0.0124895471802617" />-->
      <!--<param name="camera_k2" type="double" value="-0.0401120223191336" />-->
      <!--<param name="camera_p1" type="double" value="0.00149720377396837" />-->
      <!--<param name="camera_p2" type="double" value="0.0429412541158549" />-->
      <!--<param name="camera_k3" type="double" value="-0.000683861165614488" />-->

      <!--768x432 dji dataset-->
      <param name="camera_fx" type="double" value="537.210440680085" />
      <param name="camera_fy" type="double" value="538.06858705306" />
      <param name="camera_cx" type="double" value="385.668101634721" />
      <param name="camera_cy" type="double" value="217.56531220143" />

      <param name="camera_k1" type="double" value="0.0167283856029527" />
      <param name="camera_k2" type="double" value="-0.0489134846557019" />
      <param name="camera_k3" type="double" value="-0.000837670491447228" />
      <param name="camera_p1" type="double" value="0.00184608847842459" />
      <param name="camera_p2" type="double" value="0.0438925745834179" />



  </node>
    <node name="visualization" pkg="rviz" type="rviz" output="log" args="-d $(find orb_slam2_ros)/ros/config/rviz_config.rviz" />

</launch>
